@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Medidas como "vh" e "vw" não são sempre adequadas, esse projeto foi apenas um teste inicial de responsividade. */

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    text-align: center; 
    color: white;
    background-color: black;    
}

header h1 {
    padding-top: 50px;
    font-family: var(--fonte2);
    font-weight: 700;
    font-style: normal;
    font-size: 10vw;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
    font-weight: lighter;
    font-size: 1.2em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

main {  
    font-family: var(--fonte3);
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

section {
    padding: 5vh;
    line-height: 2em;
    font-size: 3vw;
}

pre {
    white-space: pre-line;
    font-family: var(--fonte3);
}

section.normal {
    background-color: white;
    color: black;
}

section.excecao {
    padding-top: 0;
}

section.imagem {
    color: white; 
    padding: 5vh;
    box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.322);
}

section.imagem pre {
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    padding: 5px;
    display: inline-block; /* Uma alternativa semelhante é "width: fit-content;" */    
}

section#img01 {
    background: black url("../imagens/background001.jpg") right center/cover no-repeat fixed;    
}

section#img02 {
    background: black url("../imagens/background002.jpg") right center/cover no-repeat fixed;;
}

footer {
    background-color: black;
    color: white;
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px;    
}